<p id="notice"><%= notice %></p>

<p>
  <strong>Count:</strong>
  <%= @monster_drop_record.count %>
</p>

<%= link_to 'Edit', edit_monster_drop_record_path(@monster_drop_record) %> |
<%= link_to 'Back', monster_drop_records_path %>
