!!!
%html
	%head
		= csrf_meta_tags
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title IzanagiReact

		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"}
		%link{rel: :stylesheet, type: 'text/css', href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}
		%script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

	%body
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= yield
